.jumbotron{
    background-color: #BF1736;
    color:whitesmoke;
}
footer{
    padding: 10px 10px 0 10px;
    background-color: #FA5548;
    margin-bottom: 0px;
    margin-top: 10px;
    color:whitesmoke;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
}
.btn-reversa{
    width: 100%;
}
.textofooter {
    color:whitesmoke;
}
.baner{
    width: 100%;
    height: 500px;
}
footer  i{
    color: black;
}
td i{
    color: gold;
   text-decoration-color: black;
   -webkit-text-stroke: 0.5px black;
    text-transform: 0.5px black;
}